Un dataframe c'est un dictionnaire.

Chaque clé est une colonne. Ensuite on a les valeurs. Il faut donc le même nb de valeurs dans chauqe colonne.

In [31]:
import pandas as pd
MyDf = pd.DataFrame({
  "MaColonne1" : [41, 42, 43],
  "MaColonne2" : [100, 200, 300],
})
print(MyDf)
MyDf.mean()
print(MyDf['MaColonne2'].mean())

# Attention c'est .loc et pas .iloc 
# iloc : index
# loc  : nom des colonnes
print(MyDf.loc[:, 'MaColonne2'].mean())
print(MyDf.loc[:, ['MaColonne2', 'MaColonne1']])
print(MyDf.describe())

# ligne , colonne
print(MyDf.iloc[2, 1])

# [ligne_start:ligne_end[ , [colonne_start:colonne_end[
print(MyDf.iloc[0:2, 0])

# Un dataframe avec une seule colonne c'est une série

# [ligne_start:ligne_end[ , [colonne_start:colonne_end[
print(MyDf.iloc[:, 1])

   MaColonne1  MaColonne2
0          41         100
1          42         200
2          43         300
200.0
200.0
   MaColonne2  MaColonne1
0         100          41
1         200          42
2         300          43
       MaColonne1  MaColonne2
count         3.0         3.0
mean         42.0       200.0
std           1.0       100.0
min          41.0       100.0
25%          41.5       150.0
50%          42.0       200.0
75%          42.5       250.0
max          43.0       300.0
300
0    41
1    42
Name: MaColonne1, dtype: int64
0    100
1    200
2    300
Name: MaColonne2, dtype: int64

In [3]:
import pandas as pd
#MyPath = "c:\\Users\\phili\\OneDrive\\Documents\\Formations_JEDHA\\Data_Essential_Sept_2023\\Prep_Work\\Intro_to_Python\\panda_training"
MyPath = "c:/Users/phili/OneDrive/Documents/Formations_JEDHA/Data_Essential_Sept_2023/Prep_Work/Intro_to_Python/panda_training"
Data = pd.read_csv(MyPath+"/covid-19.csv")
Data.head()

,Unnamed: 0,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,continentExp
0,1257,2020-04-23,23,4,2020,933,264,Belgium,BE,BEL,11422068.0,Europe
1,1258,2020-04-22,22,4,2020,973,170,Belgium,BE,BEL,11422068.0,Europe
2,1259,2020-04-21,21,4,2020,1487,145,Belgium,BE,BEL,11422068.0,Europe
3,1260,2020-04-20,20,4,2020,1313,230,Belgium,BE,BEL,11422068.0,Europe
4,1261,2020-04-19,19,4,2020,1045,290,Belgium,BE,BEL,11422068.0,Europe

In [2]:
Data.describe()

,Unnamed: 0,day,month,year,cases,deaths,popData2018
count,690.000000,690.000000,690.000000,690.000000,690.000000,690.000000,6.900000e+02
mean,7785.666667,15.078261,2.486957,2019.991304,2221.565217,201.866667,9.653679e+07
std,4174.782873,8.616804,1.405144,0.092912,5717.666660,446.431768,1.049538e+08
min,1257.000000,1.000000,1.000000,2019.000000,0.000000,0.000000,1.142207e+07
25%,4200.250000,8.000000,1.000000,2020.000000,0.000000,0.000000,4.672375e+07
50%,8482.500000,15.000000,2.000000,2020.000000,3.000000,0.000000,6.346014e+07
75%,12040.750000,22.000000,3.000000,2020.000000,1870.000000,202.750000,6.698724e+07
max,12251.000000,31.000000,12.000000,2020.000000,37289.000000,4928.000000,3.271674e+08

In [3]:
Data.mean()

C:\Users\phili\AppData\Local\Temp\ipykernel_21352\2719148412.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  Data.mean()

Unnamed: 0     7.785667e+03
day            1.507826e+01
month          2.486957e+00
year           2.019991e+03
cases          2.221565e+03
deaths         2.018667e+02
popData2018    9.653679e+07
dtype: float64

In [5]:
Data.std()

C:\Users\phili\AppData\Local\Temp\ipykernel_2100\4147039530.py:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  Data.std()

Unnamed: 0     4.174783e+03
day            8.616804e+00
month          1.405144e+00
year           9.291151e-02
cases          5.717667e+03
deaths         4.464318e+02
popData2018    1.049538e+08
dtype: float64

In [8]:
Data["cases"].sum()

1532880

In [9]:
Data["deaths"].sum()

139288

In [10]:
type(Data)

pandas.core.frame.DataFrame