Nintendo is building their new console. However, the last console they launched was a disaster because no one bought it. 

This time, Nintendo would like to know how many cities they would have to survey to be **95%** sure that they will build the right number of systems. 

The company will accept an **error of 5000 consoles**.

* Open the Number of switch sold.xlsx file.
* Calculate the mean and standard deviation of the corresponding column.
* Set the margin of error to 5000.
* Find the minimum number of cities to study.

In [1]:
# Open the monthly_spending_adwords.xlsx file
import os
import pandas as pd
MyPath = os.getcwd()
Data = pd.read_excel (MyPath + "/Number of switch sold.xlsx")
Data.head()

            City  Number of sales
0       New York     65538.794054
1  San Francisco     45709.289870
2       Seattle      87417.957092
3        Denver      96461.186529
4        Austin       3665.528408

In [3]:
# Calculate the mean and standard deviation of the corresponding column.
Mean = Data.iloc[:, 1].mean()
print(f"Nb moyen de consoles vendues    : {Mean:.2f} unités")

Std = Data.iloc[:, 1].std()
print(f"Ecart type (standard déviation) : {Std:.2f} unités")

Nb moyen de consoles vendues    : 42996.94 unités
Ecart type (standard déviation) : 28365.34 unités

In [10]:
# Set the margin of error to 5000
# Find the minimum number of cities to study

# E = t * s/sqrt(n) => n = (t * s /E)²
# 95% confidence level => Z = 1.96

n =  (1.96*Std/5000)**2
print(f"Nb de villes à étudier : {n:.0f}")

Nb de villes à étudier : 124